params {

	espresso_cpus = 4
	espresso_mem = '10G'
}


profiles {

	standard {
		process.executor = 'local'
	}

	cluster {
		process{
			executor = 'slurm'
			scratch = false
			maxRetries = 3
			errorStrategy = 'retry'
			clusterOptions = {"-A $params.clustalloc"}

			withLabel: big_mem {
				cpus = { 8 * task.attempt }
				memory = { 52.GB * task.attempt }
				queue = 'core'
				time = { 3.h * task.attempt }
			}
			withLabel: mid_mem {
				cpus = { 4 * task.attempt }
				queue = 'core'
				time = { 3.h * task.attempt }
			}
			withLabel: small {
				cpus = { 1 * task.attempt }
				queue = 'core'
				time = { 1.h * task.attempt }

			}
		}
	}


	singularity {
		docker.enabled = false
		singularity.enabled = true
		process.executor = 'slurm' 

		// singularity cache and library - hardcoded at the moment
		singularity.libraryDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/tsts/LR-pipeline/containers"
		singularity.cacheDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/tsts/LR-pipeline/containers"


		process {
			withName: espresso {
				container = 'docker://agatasm/espresso-1.4.0-perl'
			}
			withName: stringtie {
				container = 'docker://ctomlins/stringtie2'
			}

			withName: stringtie_merge {
				container = 'docker://ctomlins/stringtie2'
			}

			withName: gffcompare_stringtie {
				container = 'docker://agatasm/gffcompare-0.12.9'
			}


		}
	}
}

timeline {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/trace.txt"
}

