params {
	// what is the sequence name of the mitochondrion? default is 'chrM'
	espresso_mito = 'M'
	// options: cDNA or dRNA
	seqtype       = "cDNA"

	// scripts
	scripts = "${projectDir}/bin"

	// versions
	verfile="versions.txt"
}

includeConfig 'configs/nf-core-defaults.config'

profiles {

	local { //define local settings depending on the system
		process {
			executor = 'local'
			cpus = 1
		}
	}

	// Profiles for the Uppmax clusters
	uppmax {
		includeConfig 'configs/uppmax.config'
	}

	// A profile for running locally with Singularity
	// (e.g., using an interactive Uppmax session)
	uppmax_local {
		process {
			executor       = 'local'
			scratch        = '$SNIC_TMP'
		}
		singularity {
			enabled
			envWhitelist   = 'SNIC_TMP'
		}
	}

	dardel {
		includeConfig 'configs/dardel.config'
	}

	singularity {
		docker.enabled = false
		singularity.enabled = true
	}
}

includeConfig 'configs/modules.config'

timeline {
	enabled = true
	overwrite = true
	file = "$launchDir/execution/timeline.html"
}
report {
	enabled = true
	overwrite = true
	file = "$launchDir/execution/report.html"
}
trace {
	enabled = true
	overwrite = true
	file = "$launchDir/execution/trace.txt"
}
