params {

	// rackham full smpl
	//espresso_threads = 20
	//espresso_mem = '128G'

	// rackham test
	espresso_threads = 10
	espresso_mem = '10G'
	espresso_mito = 'M'
}


profiles {

	local { //define local settings depending on the system
		process{
			executor = 'local'
			cpus = 1
		}


	}

	cluster {
		process{
			executor = 'slurm'
			scratch = false
			errorStrategy = 'retry'
			clusterOptions = {"-A $params.allocation"}

			withLabel: big_mem {
				queue = 'node'
				cpus =  1 
				time = { 48.h * task.attempt }
				maxRetries = 1
			}
			withLabel: mid_mem {
				cpus = { 4 * task.attempt }
				queue = 'core'
				time = { 3.h * task.attempt }
				maxRetries = 3
			}
			withLabel: small {
				cpus = { 1 * task.attempt }
				queue = 'core'
				time = { 1.h * task.attempt }
				maxRetries = 3
			}
			withLabel: espressoS {
				cpus = { 1 * task.attempt }
				queue = 'core'
				time = { 1.h * task.attempt }
				maxRetries = 3
			}

		}
	}


	singularity {
		docker.enabled = false
		singularity.enabled = true

		// singularity cache and library - hardcoded at the moment
		singularity.libraryDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/tsts/LR-pipeline/containers"
		singularity.cacheDir="/proj/naiss2023-23-205/nobackup/private/nbis6556/tsts/LR-pipeline/containers"


		process {
			withName: espresso_s {
				container = 'docker://agatasm/espresso-1.4.0-perl'
			}
			withName: stringtie {
				container = 'docker://ctomlins/stringtie2'
			}

			withName: stringtie_merge {
				container = 'docker://ctomlins/stringtie2'
			}

			withName: espresso_merge {
				container = 'docker://ctomlins/stringtie2'
			}

			withName: gffcompare_stringtie {
				container = 'docker://agatasm/gffcompare-0.12.9'
			}

			withName: gffcompare_espresso {
				container = 'docker://agatasm/gffcompare-0.12.9'
			}


		}
	}
}

timeline {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "$launchDir/execution/trace.txt"
}
