params {
        allocation = "naiss2023-22-393"

        projname = "LR-trx-test"

        refFa = "/proj/naiss2023-23-205/nobackup/private/nbis6556/reference/hg38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
        refGTF = "/proj/naiss2023-23-205/nobackup/private/nbis6556/reference/hg38/Homo_sapiens.GRCh38.109.gtf"

        samplesheet = "sample_paths.tsv"

}
