params {
        allocation = "naiss2023-22-673"

        projname = "LR-trx-A1_B1"

        refFa = "/proj/naiss2023-23-205/nobackup/private/nbis6556/reference/hg38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
        refGTF = "/proj/naiss2023-23-205/nobackup/private/nbis6556/reference/hg38/Homo_sapiens.GRCh38.109.gtf"

        samplesheet = "sample_paths.tsv"

        // options additionally passed to processes - defaults in nextflow.config
     
        // library kit and algorithm for pychopper
        //  -k kit{PCS109,PCS110,PCS111,LSK114}
        pychopper_opts = '-k PCS111 -m edlib'

        //minimap idx opts
        // Extra option passed to minimap2 when generating index
        minimap_index_opts = '-k14'

        //sqanti
        sqanti_opts = "--force_id_ignore --aligner_choice minimap2 --saturation --report both --ratio_TSS_metric median  --isoform_hits"

}
