process {
    withLabel: 'preprocess_reads' {
        ext.args   = "-k PCS111 -m edlib"
        cpus       = 12
        time       = 24.h
        publishDir = [ 
            path:   { "$params.outdir/pychopper" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".fastq.gz")) "$filename"
                else if (filename.endsWith(".pdf")) "$filename"
                else if (filename.endsWith(".tsv")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
            }
        ]
    }

    // the minimap indexing and mapping  --> indexing arguments also define (some) of
    // the mapping arguments, i.e, -k, -w, -H and -I can't be changed during mapping
    // cDNA:        -x splice -k14
    // direct RNA:  -x splice -uf -k14
    // check: https://github.com/lh3/minimap2/blob/master/README.md#map-long-splice
    withLabel: 'genome_idx' {
        cpus       = 8
        memory     = 18.GB  // for human
        time       = 4.h
        ext.args   = (params.seqtype == "cDNA") ? "-x splice -k14 -w4 -I 1000G" : "-x splice -k14 -uf -I 1000G"
    }

    withLabel: 'map_genome' {
        cpus       = 12
        memory     = 30.GB  // for human
        time       = 12.h
        ext.args   = (params.seqtype == "cDNA") ? "-x splice -k14 -w4" : "-x splice -k14 -uf"
        publishDir = [
            path:   { "$params.outdir/minimap2" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".bam")) "$filename"
                else if (filename.endsWith(".bai")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
            }
        ]
    }

    withLabel: 'stringtie' {
        ext.args   = "-L -v --conservative"
        publishDir = [ 
            path:   { "$params.outdir/stringtie" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".gtf")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
                else null
            }
        ]            
    }

    withLabel: 'stringtie_merge' {
        publishDir = [ 
            path:   { "$params.outdir/stringtie_merge" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".gtf")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
                else null
            }
        ]
    }

    withLabel: 'gffcompare_stringtie' {
        ext.args   = "-R"
        publishDir = [ 
            path: { "$params.outdir/stringtie_gff_compare" },
            mode: 'copy'
        ]        
    }

    withLabel: 'espresso_s_input' {
        cpus       = 10
        memory     = 30.GB
        time       = 24.h
        publishDir = [ 
            path:   { "$params.outdir/ESPRESSO/ESPRESSO_S" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".tsv.updated")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
            }
        ]
    }

    withLabel: 'espresso_c_smpl' {
        cpus       = 10
        memory     = 45.GB
        time       = 72.h
        publishDir = [ 
            path:   { "$params.outdir/ESPRESSO/ESPRESSO_C" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith(".espresso_c_summary.txt")) "$filename"
            }
        ]       
    }

    withLabel: 'espresso_q_input' {
        //ext.args   =     // arguments for ESPRESSO_Q.pl script 
        // arguments for visualization - creates an IGV gtf denisty track 
        // a target gene must be given 
        // comment out ext.args2 if not required 
        ext.args2  = "--target-gene KLK4 --minimum-count 1 --descriptive-name KLK" 
        cpus       = 10
        memory     = 140.GB
        time       = 12.h
        publishDir = [
            path:   { "$params.outdir/ESPRESSO/ESPRESSO_Q" },
            mode:   'copy',
            saveAs: { filename ->
                if (filename.endsWith("updated.gtf")) "$filename"
                else if (filename.endsWith("abundance.esp")) "$filename"
                else if (filename.endsWith(".txt")) "$filename"
            }
        ]
    }

    withLabel: 'gffcompare_espresso' {
        ext.args   = "-R"
        publishDir = [ 
            path: { "$params.outdir/espresso_gff_compare" },
            mode: 'copy'
        ]
    }

    withLabel: 'sqanti_qc' {
        ext.args   = "--force_id_ignore --aligner_choice minimap2 --saturation --report both --ratio_TSS_metric median  --isoform_hits"
        cpus       = 6
        memory     = 8.GB
        publishDir = [ 
            path: { "$params.outdir/SQANTI" },
            mode: 'copy'
        ]
    }
}