params {
    // SNIC compute allocation id
    project = ''
}
process {
    executor       = 'slurm'
    clusterOptions = { "-A $params.project" }
    // Use node local storage for execution.
    scratch        = '$SNIC_TMP'
}
singularity {
    enabled        = true
    envWhitelist   = 'SNIC_TMP'
}